.hero-section {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/healthguardalliance-dc35c.appspot.com/o/happy_shopping.jpg?alt=media&token=03902fc9-7c2c-4c53-a074-dafd09693131");
    background-size: cover;
    padding: 100px 0px;
    color: #fff;
    background-color: blueviolet;
    text-align: center;
    width: 100%;
    background-position: center;
    
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* Adjust the opacity to make it darker or lighter */
    z-index: 1;
}

.hero-content {
    max-width: 800px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 24px;
    margin-bottom: 40px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0px 10%;
}

.search-bar input {
    width: 100%;
}

@media screen and (max-width:600px){
    .hero-section div.hero-content h1.header {
        font-size: xx-large;
    } 
    
    .hero-section div.hero-content p.sub-header {
        font-size: medium;
    }

    .hero-section div.hero-content {
        margin: 0px 10px;
    }

}





