.results-section {
    display: flex;
    margin: 26px 26px 50px 26px;
}

.results-section div.results-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    width: 100%;
    justify-content: center;
}


.results-section div.results-container div.product-item {
    width: auto;
    background-color: whitesmoke;
    border-radius: 16px;
    padding: 8px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 6px 6px 20px 0px rgba(20, 20, 20, 0.39);
}

.results-section div.results-container div.product-item div.image-content {
    background-color: #ff6600;
    overflow: hidden;
    width: 100%;
    height: 200px;
    border-radius: 16px;
}


.results-section div.results-container div.product-item img.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.results-section div.results-container div.product-item:hover div.image-content img.image {
    transform: scale(1.5);
}

.results-section div.results-container div.product-item div.header-content{
    margin-top: -10px;
}

.results-section div.results-container div.product-item div.header-content h3.price {
    margin-top: -20px;
    color: #ff6600;
}

.section-header {
    color: white;
    text-align: center; 
    display: none;   
}

.error-message {
    text-align: center;
    color: rgb(218, 213, 213);
    height: 50vh;
    align-content: center;
    display: none;
}

.error-message img.error-image {
    height: 50%;
    width: auto;
    animation: bounceAnimation .7s infinite alternate; 
}


@keyframes bounceAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}


@media screen and (max-width:600px) {
    .section-header {
        font-size: medium;
    }

    .results-section div.results-container div.product-item {
        width: 100%;
        border-radius: 8px;
        padding: 0px;
        margin: 0px;
    }

    .results-section div.results-container  div.product-item {
        padding: 4px;
    }

    .results-section div.results-container  div.product-item div.image-content {
        height: 150px;
        border-radius: 8px;
    }

    .results-section div.results-container {
        
        grid-template-columns: repeat(auto-fit, 45%);
        gap: 10px;
        
    }

    .results-section {
        display: flex;
        margin: 0px;
    }

    .results-section div.results-container div.product-item div.header-content{
        font-size: small;
        margin: 4px;
    }
    
    .results-section div.results-container div.product-item div.header-content h3.price {
        margin-top: -10px;
    }

    .results-section div.results-container div.product-item div.header-content p.business{
        font-size: medium;
    }

    .error-message {
        margin-left: 16px;
        margin-right: 16px;
    }

    .error-message h2 {
        font-size: large;
    }

    .error-message h3 {
        font-size: medium;
    }

}

